<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>_Rename</title>
    <script type="text/javascript.js" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript.js" src="/js/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
  </head>
  <body>
    @RenderBody()
  </body>
</html>
